/* *{
    padding: 0;
    margin: 0;
} */
/* Nav-Bar Css */

body{
    background-color: whitesmoke;
    font-family: Arial, sans-serif;
}
#index_page_space_1{
    height: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    background-color: #353535;
}
#ext_footer{
    padding: 5px 5px;
}
#stories{
    padding-left: 10px;
}
#stories h1{font-size: 48px;
    color: #333;
    margin-bottom: 20px;
    font-family: Arial, sans-serif
}
#iframe_stories{
    width: 100%;
    height: 300px;
}

/* Pricing Css */
#pricing {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #fff, #ddd);
    text-align: center;
    /* margin: 0;
    padding: 0; */
}
.pricing-table {
    display: flex;
    justify-content: center; 
    margin-top: 50px;
}
.pricing-table table,th,td{
    border: 2px solid white;
    /* border-collapse: collapse; */
    padding: 15px;
    margin: 1px;
    height: 50px;
    border-spacing: 5px;
}
/* table{
    
} */
th{
    background-color: #c71585;
    color: white;
    font-size: 24px;
    /* margin-left: 10px;
    margin-right: 10px; */
    
}
td{
    color: #c71585;
   
    
}
 /* .plan {
    background-color: #c71585;
    color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    width: 250px;
}
.plan h2 {
    font-size: 24px;
    margin: 0;
    padding-bottom: 20px;
}
.price {
    font-size: 30px;
    margin: 0;
    padding-bottom: 20px;
} */
/* .features {
    list-style-type: none;
    padding: 0;
    font-size: 18px;
}
.features li {
    margin-bottom: 10px;
} */

/* Team Section */
#Team {
    font-family: Arial, sans-serif;
    background-color: #ddd;
    margin: 0;
    padding: 0;
    text-align: center;
}
#Team h1 {
    padding-top: 29px;
    font-size: 36px;
    /* background-color: #ddd */
}
.team-container {
    display: flex;
    justify-content: center;
    gap: 28px;
    margin-top: 20px;
    padding: 28px;
}
.team-member {
    background-color: white;
    border: 1px solid #ccc;
    /* border-radius: 10px; */
    overflow: hidden;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.team-member img {
    width: 100%;
    height: auto;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
.team-member p {
    margin: 0;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
}
.inner-Frame{
    padding: 15px 15px 0px 15px;
    background-color: white;
}
/* Team Section */
/* About Us Section */
#About{
    font-family: 'Times New Roman', Times, serif;
    background-color: #ddd;
    text-align: center;
    padding: 29px 0 29px 0;
}
.About-container{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: relative;
}
.about-text-section{
    width: 60%;
    padding: 20px;
}
.about-text-section h1{
    font-size: 36px;
    margin-bottom: 20px;
}
.about-text-section p{
    font-size: 18px;
    text-align: left;
    line-height: 1.6;
    font-style: italic;
    color: #c71585;
}
#highlight{
    color: red;
    font-weight: bold;
}
.about-text-section h4{
    text-align: left;
}
.about-image-section{
    width: 35%;
   
    padding: 20px;
}
.about-image-section img{
    max-width: 100%;
    height: auto;
    /* border-radius: 6px; */
    padding: 10px;
    border: 3px solid silver
}
/* About Us Section */

/* <!-- Contact Us Section --> */
#Contact{
    font-family: Arial, sans-serif;
   background-color: #ddd;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
}
.container {
    width: 80%;
    /* margin: 50px auto; */
    background-color: #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: relative;
}
.text-section {
    width: 60%;
    padding: 20px;
}
.text-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
}
.text-section p {
    font-size: 18px;
    color: #333;
    text-align: left;
    line-height: 1.6;
}
.text-section p.address {
    font-weight: bold;
    color: red;
    margin-top: 20px;
}
.image-section {
    width: 35%;
    padding: 20px;
}
.image-section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    /* padding: 7px; */
    border: 2px solid white;
}
/* .footer-image {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
} */
/*  <!-- Contact Us Section --> */
/* Enquiry Section */
.container-wrapper {
    background-color: #ddd; /* Background color for the margin effect */
    padding: 40px 20px 40px 20px;
}

#container {
    width: 80%;

    margin: 0 auto;
    background-color: #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    font-size: 18px;
    margin-top: 10px;
}
input, textarea {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
}
.submit-btn {
    background-color: #c71585;
    color: white;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 95px;
}
.submit-btn:hover {
    background-color: #a0136b;
}
/* Enquiry Section */
/* Scroll up Button */
#scrollUpBtn {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}
#scrollUpBtn:hover {
    background-color: #555;
}
/* Scroll up button */
/* testimonial Section */
#Customer-says{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
}
.testimonial-section{
    text-align: center;
    padding: 45px 20px;
}
.testimonial-section h1{
    font-size: 2.5em;
    margin-bottom: 80px;
}
.testimonials{
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: 20px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    height: 470px
}
.testimonial img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-bottom: 33px;
}
.testimonial p{
    font-size: 1.1em;
    line-height: 1.5;
}
.testimonial .name{
    margin-top: 15px;
    font-weight: bold;
}
.Vertical-line{
    border: 1px solid black;
}
    /* testimonial Section */